@model IEnumerable<EvaluacionMVC.Models.producto>

@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

<p>
    @Html.ActionLink("Crear Producto Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fVencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unidades)
        </th>
        <th>
        Categoria
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fVencimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unidades)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoria.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idProducto }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.idProducto }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idProducto })
        </td>
    </tr>
}

</table>
